@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
.header-area {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: auto;
    width: 100%;
    z-index: 999;

    &.p-relative {
        position: relative;
    }
}

.top-header {
    background-color: var(--mainColor);
    padding: {
        top: 15px;
        bottom: 25px;
    };
}
.top-header-contact-info {
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;

    li {
        display: inline-block;
        color: var(--whiteColor);
        margin-right: 20px;
        position: relative;
        padding-left: 38px;
        font-size: 12px;

        i {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            font-size: 30px;
        }
        span {
            display: block;
            margin-bottom: 2px;
            font: {
                size: 12px;
                weight: 300;
            };
        }
        a {
            display: inline-block;
            color: var(--whiteColor);
            font: {
                size: 13px;
                weight: 400;
            };
            &:hover, &:focus {
                opacity: .95;
            }
        }
        &:last-child {
            margin-right: 0;
        }
    }
}
.top-header-btn {
    text-align: right;

    .default-btn {
        background-color: var(--whiteColor);
        color: var(--mainColor);
        border-color: var(--whiteColor);
        
        span{
            font-size: 14px!important;
            font-weight: 400;
        }
        .icon-arrow {
            color: var(--mainColor);
            transition: var(--transition);
        }
        &:hover, &:focus {
            background-color: var(--blackColor);
            color: var(--whiteColor);
            border-color: var(--blackColor);
        
            .icon-arrow {
                color: var(--whiteColor);
            }
        }
    }
}
.top-header-style-two {
    background-color: var(--whiteColor);
    padding: {
        top: 15px;
        bottom: 15px;
    };
    .top-header-contact-info {
        text-align: right;

        li {
            color: var(--paragraphColor);
            text-align: left;
    
            i {
                color: var(--mainColor);
            }
            a {
                color: var(--blackColor);
                
                &:hover, &:focus {
                    color: var(--mainColor);
                    opacity: 1;
                }
            }
        }
    }
}
.top-header-login-register {
    text-align: right;
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;

    li {
        display: inline-block;
        color: #cccccc;
        margin-right: 25px;

        a {
            display: inline-block;
            color: #cccccc;
            position: relative;
            padding-left: 20px;
            
            i {
                position: absolute;
                left: 0;
                top: 3px;
            }
            &:hover, &:focus {
                color: var(--mainColor);
            }
        }
        &:last-child {
            margin-right: 0;
        }
    }
}
.top-header-social {
    display: inline-block;
    margin-left: 23px;
    border-left: 1px solid #4a4646;
    padding: {
        top: 10px;
        bottom: 10px;
        left: 22px;
    };
    span {
        display: inline-block;
        color: #cccccc;
        margin-right: 8px;
    }
    a {
        display: inline-block;
        color: #cccccc;
        position: relative;
        top: 2px;
        font-size: 17px;
        margin-right: 6px;

        &:hover, &:focus {
            color: var(--mainColor);
        }
    }
}
.top-header-style-four {
    background-color: var(--mainColor);
    padding: {
        top: 0;
        bottom: 0;
    };
    .top-header-contact-info {
        display: inline-block;
        padding: {
            top: 10px;
            bottom: 10px;
        };
        li {
            padding-left: 0;
            font-size: 14px;
            color: var(--whiteColor);

            a {
                font-size: 14px;
                color: var(--whiteColor);
                font-weight: 500;
            }
        }
    }
    .top-header-social {
        border-left: 1px solid rgba(255, 255, 255, .6);

        span {
            color: var(--whiteColor);
        }
        a {
            color: var(--whiteColor);
        }
    }
    .top-header-login-register {
        li {
            color: var(--whiteColor);
    
            a {
                color: var(--whiteColor);
            }
        }
    }
}

.ednuv-responsive-nav {
    display: none;
}
.ednuv-nav {
    margin-top: -10px;
    .navbar {
        background-color: var(--whiteColor);
        padding: 0 20px;
        border-radius: 5px;
        
        box-shadow: 0px 39px 30px -40px rgba(0,0,0,0.50);
        
        .navbar-brand {
            margin: 3px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            justify-items: center;
            padding: {
                top: 3;
                bottom: 3;
                left: 3;
                right: 3;
            };
            svg{
                margin-left: auto;
                margin-right: auto;
            }
            p{
                color: #000000;
                font-family: 'Montserrat', sans-serif;
            }
        }
        ul {
            padding-left: 0;
            list-style-type: none;
            margin-bottom: 0;
        }
        app-menu-horizontal {
            margin: {
                left: auto;
                right: auto;
            };
            z-index: 1000!important;
        
        }
        .others-option {
            width: 30%;
            
            .search-box {
                line-height: 1;
                position: relative;
                top: 4px;
                margin-right: 10px;
                width: 100%;
                &:hover {
                    color: var(--mainColor);
                }
                form{
                    display: flex;
                    flex-direction: row;
                    input{
                        width: 100%;
                        color: #4a4646;
                        border-radius: 50px;
                        padding: 8px 15px ;
                        border: none;
                        background-color: #f5f5f5;
                        outline: none;
                        
                    }
                    button{
                        border: none;
                        background: none;
                        width: 32px;
                        margin-left: -48px;
                        i{
                            font-size: 32px;
                            color: var(--mainColor);
    
                        }
                    }

                }
            }
        }
    }
}
.navbar-area {
    &.is-sticky {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
        box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
        background-color: var(--whiteColor) !important;
        animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    }
}
.navbar-style-two {
    background-color: transparent;

    .ednuv-nav {
        margin-top: 0;
        background-color: transparent;
        border: {
            bottom: {
                width: 1px;
                color: rgba(255, 255, 255, 0.1);
                style: solid;
            };
        };
        .navbar {
            border-radius: 0;
            padding: 0;
            background-color: transparent;

            .navbar-nav {
                margin: {
                    left: 0;
                    right: 0;
                };
                .nav-item {    
                    a {
                        color: var(--whiteColor);
                        
                        &:hover, &:focus, &.active {
                            color: var(--mainColor);
                        }
                    }
                    &:hover, &.active {
                        a {
                            color: var(--mainColor);
                        }
                    }
                    .dropdown-menu {
                        left: 0;
    
                        li {    
                            a {
                                color: #4a6f8a;
                                
                                &:hover, &:focus, &.active {
                                    color: var(--mainColor);
                                }
                            }
                            .dropdown-menu {
                                left: 250px;
                                
                                li {
                                    a {
                                        color: #4a6f8a;
                                        
                                        &:hover, &:focus, &.active {
                                            color: var(--mainColor);
                                        }
                                    }
                                    .dropdown-menu {
                                        left: -250px;
            
                                        li {
                                            a {
                                                color: #4a6f8a;
            
                                                &:hover, &:focus, &.active {
                                                    color: var(--mainColor);
                                                }
                                            }
                                            .dropdown-menu {
                                                left: 250px;
                    
                                                li {
                                                    a {
                                                        color: #4a6f8a;
                    
                                                        &:hover, &:focus, &.active {
                                                            color: var(--mainColor);
                                                        }
                                                    }
                                                    .dropdown-menu {
                                                        left: -250px;
                            
                                                        li {
                                                            a {
                                                                color: #4a6f8a;
                    
                                                                &:hover, &:focus, &.active {
                                                                    color: var(--mainColor);
                                                                }
                                                            }
                                                            .dropdown-menu {
                                                                left: 250px;
                                    
                                                                li {
                                                                    a {
                                                                        color: #4a6f8a;
                    
                                                                        &:hover, &:focus, &.active {
                                                                            color: var(--mainColor);
                                                                        }
                                                                    }
                                                                    .dropdown-menu {
                                                                        left: -250px;
                                            
                                                                        li {
                                                                            a {
                                                                                color: #4a6f8a;
                    
                                                                                &:hover, &:focus, &.active {
                                                                                    color: var(--mainColor);
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                    &.active {
                                                                        a {
                                                                            color: var(--whiteColor);
                                                                            background-color: var(--mainColor);
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                            &.active {
                                                                a {
                                                                    color: var(--mainColor);
                                                                }
                                                            }
                                                        }
                                                    }
                                                    &.active {
                                                        a {
                                                            color: var(--mainColor);
                                                        }
                                                    }
                                                }
                                            }
                                            &.active {
                                                a {
                                                    color: var(--mainColor);
                                                }
                                            }
                                        }
                                    }
                                    &.active {
                                        a {
                                            color: var(--mainColor);
                                        }
                                    }
                                }
                            }
                            &.active {
                                a {
                                    color: var(--mainColor);
                                }
                            }
                        }
                    }
                }
            }
            .others-option {
                margin-left: auto;

                .language-switcher {    
                    .dropdown-toggle {
                        span {
                            color: var(--whiteColor);
                        }
                    }
                }
                .cart-wrapper-btn {
                    color: var(--whiteColor);

                    &:hover, &:focus {
                        color: var(--mainColor);
                    }
                }
                .search-box {
                    color: var(--whiteColor);

                    &:hover {
                        color: var(--mainColor);
                    }
                }
            }
        }
    }
    &.is-sticky {
        .ednuv-nav {
            border: none;

            .navbar {
                .navbar-nav {
                    .nav-item {    
                        a {
                            color: var(--blackColor);
                            
                            &:hover, &:focus, &.active {
                                color: var(--mainColor);
                            }
                        }
                        &:hover, &.active {
                            a {
                                color: var(--mainColor);
                            }
                        }
                        .dropdown-menu {        
                            li {    
                                a {
                                    color: #4a6f8a;
                                    border-bottom: 1px dashed #e5e5e5;
                                    
                                    &:hover, &:focus, &.active {
                                        color: var(--mainColor);
                                    }
                                }
                                .dropdown-menu {                                    
                                    li {
                                        a {
                                            color: #4a6f8a;
                                            
                                            &:hover, &:focus, &.active {
                                                color: var(--mainColor);
                                            }
                                        }
                                        .dropdown-menu {                
                                            li {
                                                a {
                                                    color: #4a6f8a;
                
                                                    &:hover, &:focus, &.active {
                                                        color: var(--mainColor);
                                                    }
                                                }
                                                .dropdown-menu {                        
                                                    li {
                                                        a {
                                                            color: #4a6f8a;
                        
                                                            &:hover, &:focus, &.active {
                                                                color: var(--mainColor);
                                                            }
                                                        }
                                                        .dropdown-menu {
                                                            li {
                                                                a {
                                                                    color: #4a6f8a;
                        
                                                                    &:hover, &:focus, &.active {
                                                                        color: var(--mainColor);
                                                                    }
                                                                }
                                                                .dropdown-menu {                                        
                                                                    li {
                                                                        a {
                                                                            color: #4a6f8a;
                        
                                                                            &:hover, &:focus, &.active {
                                                                                color: var(--mainColor);
                                                                            }
                                                                        }
                                                                        .dropdown-menu {                                                
                                                                            li {
                                                                                a {
                                                                                    color: #4a6f8a;
                        
                                                                                    &:hover, &:focus, &.active {
                                                                                        color: var(--mainColor);
                                                                                    }
                                                                                }
                                                                            }
                                                                        }
                                                                        &.active {
                                                                            a {
                                                                                color: var(--whiteColor);
                                                                                background-color: var(--mainColor);
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                                &.active {
                                                                    a {
                                                                        color: var(--mainColor);
                                                                    }
                                                                }
                                                            }
                                                        }
                                                        &.active {
                                                            a {
                                                                color: var(--mainColor);
                                                            }
                                                        }
                                                    }
                                                }
                                                &.active {
                                                    a {
                                                        color: var(--mainColor);
                                                    }
                                                }
                                            }
                                        }
                                        &.active {
                                            a {
                                                color: var(--mainColor);
                                            }
                                        }
                                    }
                                }
                                &.active {
                                    a {
                                        color: var(--mainColor);
                                    }
                                }
                            }
                        }
                    }
                }
                .others-option {    
                    .language-switcher {    
                        .dropdown-toggle {
                            span {
                                color: var(--blackColor);
                            }
                        }
                    }
                    .cart-wrapper-btn {
                        color: var(--blackColor);
    
                        &:hover, &:focus {
                            color: var(--mainColor);
                        }
                    }
                    .search-box {
                        color: var(--blackColor);
    
                        &:hover {
                            color: var(--mainColor);
                        }
                    }
                }
            }
        }
    }
}





@media only screen and (max-width: 991px) {

    .ednuv-responsive-nav {
        display: block;
        
        .ednuv-responsive-menu {
            position: relative;

            &.mean-container {
                .navbar-nav {
                    overflow-y: scroll;
                    height: 294px;
                    box-shadow: 0 7px 13px 0 rgba(0, 0, 0, .1);
                }
            }
            .others-option {
                display: none;
                position: absolute;
                right: 50px;
                top: 4px;
                width: 70%;
                
                .search-box {
                    line-height: 1;
                    position: relative;
                    top: 4px;
                    margin-right: 10px;
                    width: 100%;
                    &:hover {
                        color: var(--mainColor);
                    }
                    form{
                        display: flex;
                        flex-direction: row;
                        input{
                            width: 100%;
                            border-radius: 50px;
                            padding: 10px;
                            border: none;
                            background-color: #f5f5f5;
                            outline: none;
                            
                        }
                        button{
                            border: none;
                            background: none;
                            width: 32px;
                            margin-left: -48px;
                            i{
                                font-size: 32px;
                                color: var(--mainColor);
        
                            }
                        }
    
                    }
                }
            }
        }
        .logo {
            position: relative;
            width: 50%;
            z-index: 999;
        }
    }
    .navbar-area {
        background-color: var(--whiteColor);
        padding: {
            top: 15px;
            bottom: 15px;
        };
        &.navbar-style-two {
            .ednuv-responsive-nav {
                .ednuv-responsive-menu {
                    &.mean-container {
                        .navbar-nav {
                            height: 357px;
                        }
                    }
                }
            }
        }
    }
    .ednuv-nav {
        display: none;
    }

}

@media only screen and (max-width: 767px) {

    .top-header {
        text-align: center;
        padding: {
            top: 15px;
            bottom: 7px;
        };
    }
    .top-header-contact-info {
        display: flex;
        flex-wrap: wrap;

        li {
            font-size: 12.5px;
            flex: 0 0 50%;
            max-width: 50%;
            margin: {
                bottom: 8px;
                right: 0;
            };
            padding: {
                left: 0;
            };
            i {
                font-size: 17px;
                position: relative;
                top: 3px;
                transform: unset;
                margin-right: 5px;
            }
            span {
                display: none;
            }
            a {
                font-size: 13px;
            }
            &:last-child {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }
    .top-header-btn {
        display: none;
    }
    .top-header-logo {
        display: none;
    }
    .top-header-style-two {
        text-align: center;
        border-bottom: 1px solid #eeeeee;
        padding: {
            top: 15px;
            bottom: 7px;
        };
        .top-header-contact-info {
            text-align: center;

            li {
                text-align: center;
            }
        }
    }
    .top-header-style-three {
        padding: {
            top: 15px;
            bottom: 15px;
        };
        .top-header-contact-info {
            flex-wrap: unset;
            padding: {
                top: 0;
                bottom: 0;
            };
            li {
                font-size: 13px;

                a {
                    font-size: 13px;
                }
                &:last-child {
                    flex: 0 0 100%;
                    max-width: 100%;
                }
            }
        }
    }
    .top-header-social {
        display: inline-block;
        margin-left: 10px;
        border-left: none;
        padding: {
            top: 0;
            bottom: 0;
            left: 0;
        };
        span {
            margin-right: 2px;
            font-size: 13px;
        }
        a {
            font-size: 15px;
        }
    }
    .top-header-login-register {
        text-align: center;
    }
    .top-header-style-four {
        padding: {
            top: 15px;
            bottom: 15px;
        };
        .top-header-contact-info {
            padding: {
                top: 0;
                bottom: 0;
            };
            li {
                &:last-child {
                    flex: 0 0 100%;
                    max-width: 100%;
                }
            }
        }
        .top-header-social {
            border-left: none;
        }
    }

    .search-overlay {
        .search-overlay-form {
            max-width: 290px;
            width: 290px;
        }
    }

}
@media only screen and (min-width: 576px) and (max-width: 767px) {
    
    .top-header-contact-info {
        li {
            flex: 0 0 33.3333333333%;
            max-width: 33.3333333333%;

            &:last-child {
                flex: 0 0 33.3333333333%;
                max-width: 33.3333333333%;
            }
        }
    }
    .ednuv-responsive-nav {
        .ednuv-responsive-menu {
            .others-option {
                display: block;
            }
        }
    }

}
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .top-header {
        text-align: center;
        padding: {
            top: 15px;
            bottom: 15px;
        };
    }
    .top-header-btn {
        display: none;
    }
    .top-header-contact-info {
        li {
            text-align: left;
        }
    }
    .top-header-logo {
        display: none;
    }
    .top-header-style-two {
        border-bottom: 1px solid #eeeeee;

        .top-header-contact-info {
            text-align: center;
        }
    }
    .top-header-style-three {
        text-align: left;
        padding: {
            top: 0;
            bottom: 0;
        };
    }
    .top-header-style-four {
        text-align: left;
        padding: {
            top: 0;
            bottom: 0;
        };
    }
    .ednuv-responsive-nav {
        .ednuv-responsive-menu {
            .others-option {
                display: block;
            }
        }
    }

}