<header class="header-area">

    <div class="top-header">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-9">
                    <ul class="top-header-contact-info">
                        <li>
                            <i class='bx bx-phone-call'></i>
                            <span>Teléfono</span>
                            <a href="tel:+59826818368">(+598) 2681 8368</a>
                        </li>
                        <li>
                            <i class='bx bx-map'></i>
                            <span>Nos ubicamos</span>
                            <a href="#">Av.Giannattasio Km18.200</a>
                        </li>
                        <li>
                            <i class='bx bx-envelope'></i>
                            <span>Email</span>
                            <a href="mailto:hello@ednuv.com">cursos@oncapacitaciones.com</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3">

                    <user-actions-component></user-actions-component>
                </div>

                <!-- <div class="col-lg-4">
                    <div class="top-header-btn">
                        <a routerLink="/login" class="default-btn"><i class='bx bx-log-in icon-arrow before'></i><span
                                class="label">Entrar</span><i class="bx bx-log-in icon-arrow after"></i></a>
                    </div>
                </div> -->
            </div>
        </div>
    </div>

    <div class="navbar-area">
        <div class="ednuv-responsive-nav">
            <div class="container">
                <div class="ednuv-responsive-menu">
                    <div class="logo">
                        <a routerLink="/">
                            <svg xmlns="http://www.w3.org/2000/svg" width="60" viewBox="0 0 532.81 507.42">
                                <defs>
                                </defs>
                                <title>logo</title>
                                <path class="svg-logo"
                                    d="M523,318.28q-9.76-9.56-26.34-9.56-25.39,0-43,23.15h-.86V313.2H429.41q1-10.36,1-21c0-105.75-76.28-193.69-176.81-211.8V0H176.81V80.41C76.28,98.52,0,186.45,0,292.2,0,411.06,96.36,507.42,215.22,507.42a215.14,215.14,0,0,0,187.55-109.6v52.81h50.08V367.42q0-17.48,16.06-17.48a12.3,12.3,0,0,1,9.84,4.48,17.18,17.18,0,0,1,3.8,11.5v84.7h50.25V344.12Q532.81,327.84,523,318.28ZM320,397A148.22,148.22,0,1,1,176.81,149v85.79h76.81V149A148.26,148.26,0,0,1,320,397Z" />
                            </svg>
                            <!-- On Capacitaciones -->
                            
                            <!-- <img src="assets/img/black-logo.png" alt="logo"> -->
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="ednuv-nav">
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" routerLink="/">
                        <svg xmlns="http://www.w3.org/2000/svg" width="60" viewBox="0 0 532.81 507.42">
                            <defs>
                            </defs>
                            <title>logo</title>
                            <path class="svg-logo"
                                d="M523,318.28q-9.76-9.56-26.34-9.56-25.39,0-43,23.15h-.86V313.2H429.41q1-10.36,1-21c0-105.75-76.28-193.69-176.81-211.8V0H176.81V80.41C76.28,98.52,0,186.45,0,292.2,0,411.06,96.36,507.42,215.22,507.42a215.14,215.14,0,0,0,187.55-109.6v52.81h50.08V367.42q0-17.48,16.06-17.48a12.3,12.3,0,0,1,9.84,4.48,17.18,17.18,0,0,1,3.8,11.5v84.7h50.25V344.12Q532.81,327.84,523,318.28ZM320,397A148.22,148.22,0,1,1,176.81,149v85.79h76.81V149A148.26,148.26,0,0,1,320,397Z" />
                        </svg>
                        <!-- <p>On Capacitaciones</p>                 -->
                    </a>

                    <div class="collapse navbar-collapse mean-menu">
                        
                        <app-menu-horizontal></app-menu-horizontal>

                        <div class="others-option">
                            <!-- <a routerLink="/cart" class="cart-wrapper-btn d-inline-block">
                                <i class='bx bx-cart-alt'></i>
                                <span>01</span>
                            </a> -->

                            <div class="search-box d-inline-block">
                                <form [formGroup]="formSearch" >
                                    <input formControlName="search" placeholder="Buscar Curso" type="text">
                                    <button type="submit" (click)="onSubmitSearch()">
                                        <i class="material-icons">search</i>
                                    </button>

                                </form>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>

</header>

