<form fxLayoutAlign="space-between center" (ngSubmit)="updatePass()" fxLayout="row wrap" [formGroup]="formNueva">
    <button class="btn-close" mat-mini-fab (click)="onNoClick()">
        <mat-icon>close</mat-icon>
    </button>
    <h1 mat-dialog-title>Escribe tu nueva contraseña.
    </h1>
    <div class="button-wrap" fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1"
        fxLayoutAlign="center center">
        <mat-form-field class="email">
            <input formControlName="password" matInput type="password" placeholder="Nueva Contraseña">
        </mat-form-field>
    </div>
    <div class="button-wrap" fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1"
        fxLayoutAlign="center center">
        <mat-form-field class="email">
            <input formControlName="password_confirmation" type="password" matInput placeholder="Confirma la Contraseña">
        </mat-form-field>
    </div>
    <span>{{ msg }}</span>
    <div fxLayoutAlign="center center" class="button-wrap" fxFlex="100" fxFlex.gt-sm="100" class="px-1"
        ngClass.sm="mt-1" ngClass.xs="mt-1">
        <button mat-raised-button color="accent" [disabled]="!formNueva.valid">
            Guardar contraseña
        </button>
    </div>

</form>