<div class="myDashboard-navigation">
    <ul>
        <!-- <li><a routerLink="/my-dashboard" class="active"><i class='bx bxs-dashboard'></i> Dashboard</a></li> -->
        <li><a routerLink="/mi-cuenta/cursos" routerLinkActive="active"><i class='bx bx-book'></i> Mis Cursos</a></li>
        <li><a routerLink="/mi-cuenta/datos-personales" routerLinkActive="active"><i class='bx bx-edit'></i> Datos datos-personales</a></li>
        <li><a routerLink="/mi-cuenta/pagos" routerLinkActive="active"><i class='bx bx-cart'></i> Pagos</a></li>
        <!-- <li><a routerLink="/logout" routerLinkActive="active"><i class='bx bx-log-out'></i> Salir</a></li> -->
    </ul>
</div>