<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-12">
            <div class="section-title text-left">
                <h2>Así somos...</h2>
            </div>
        </div>

        <div class="col-lg-8 col-md-12">
            <div class="story-content">
                <h3>Misión</h3>
                <p>On Capacitaciones surgió con la misión de ofrecer a sus estudiantes la posibilidad de desarrollarse profesionalmente, brindando todas las herramientas necesarias para el área de su interés.</p>
                <h3>Nuestro trato</h3>
                <p>Combinamos dos pilares fundamentales como lo son la calidez humana y el profesionalismo, cualidades encontradas en cada uno de los miembros del equipo, de forma que se genere el ambiente propicio que garantice la excelencia educativa, donde las principales prioridades son los intereses del estudiante y su deseo de superación.</p>
                <h3>Visión</h3>
                <p>Nuestra visión apunta a convertir el instituto en un referente de la educación técnica. Apoyándonos en un equipo de trabajo calificado para cubrir las necesidades del estudiante y actualizando constantemente el contenido de nuestros cursos a las exigencias de un mercado cambiante.</p>
            </div>
        </div>
    </div>
</div>