<ng-container *ngIf="logged; then loged; else noLoged"></ng-container>

<ng-template #loged>
    <div class="user" [ngClass]="{'color': true}">
        <a class="account menu-user" [ngClass]="{'color': true}" 
            [matMenuTriggerFor]="menu" 
            #menuTrigger="matMenuTrigger"
            >
            <span>Mi cuenta</span>
            <i class="material-icons">person</i>
        </a>
        <!-- <a class="menu-user" [ngClass]="{'color': true}" aria-label="">
            <span>{{ currentUser.name }}</span>
            <i class="material-icons">person</i>
        </a> -->
        <mat-menu [overlapTrigger]="false" #menu="matMenu">
            <span (mouseleave)="menuTrigger.closeMenu()">
                <a mat-menu-item [routerLink]="[ '/mi-cuenta' ]" >
                    <mat-icon>person_pin</mat-icon>
                    <span>Mi cuenta</span>
                </a>
                <button mat-menu-item (click)="logout()">
                    <mat-icon>exit_to_app</mat-icon>
                    <span>Salir</span>
                </button>
            </span>

        </mat-menu>
    </div>
</ng-template>

<ng-template #noLoged>
    <div class="user">
        <span></span>
        <span>
            <div class="top-header-btn">
                <a (click)="login()" class="default-btn">
                    <i class='bx bx-log-in icon-arrow before'></i>
                    <span class="label">Entrar</span><i class="bx bx-log-in icon-arrow after"></i>
                </a>
            </div>
            <!-- <a mat-button class="login" (click)="login()" [ngClass]="{'color': true}" >Entrar</a> -->
        </span>
                <!-- <div class="col-lg-4">
                    <div class="top-header-btn">
                        <a routerLink="/login" class="default-btn"><i class='bx bx-log-in icon-arrow before'></i><span
                                class="label">Entrar</span><i class="bx bx-log-in icon-arrow after"></i></a>
                    </div>
                </div> -->
    </div>
</ng-template>