<swiper [config]="config" class="">
    <div  *ngFor="let category of categories" (mouseover)="hover=true" (mouseleave)="hover=false" [ngStyle]="{'background-color': category.color}" class="single-categories">
        <a [routerLink]="['/cursos', category.slug]" class="">
            <div class="icon"
                
                [ngStyle]="{
                    'border-color': hover == true ? category.color : null, 
                    'color': hover == true ? category.color : null,
                    'background-color': hover == true ? 'white': null
                }">
                <i [class]="category.ico"></i>
            </div>
            <h3>{{ category.name }}</h3>
            <span>{{ category.courses.length }} cursos</span>
        </a>
    </div>
    
</swiper>
