<div class="col-lg-12 col-md-12">
    <div class="single-courses-list-box mb-30">
        <div class="box-item">
            <div class="courses-image">
                <div class="image bg-1" [ngStyle]="{'background-image': 'url('+course?.images[0]?.url_medium+')'}">
                    <!-- <swiper [config]="config" class="swiper-container">
                        <img *ngFor="let image of course.images" [src]="image.url" >
                    </swiper> -->
                    <!-- <img [src]="course.image" alt="image"> -->
                    <a [routerLink]="['/cursos/curso', course.slug]" class="link-btn"></a>
                    <div class="courses-tag" *ngFor="let category of course.categories"
                    [ngStyle]="{'background-color': category.color, 'color': '#fff'}">
                        <a routerLink="/courses-list" class="d-block">{{ category.name }}</a>
                    </div>
                </div>
            </div>

            <div class="courses-desc">
                <div class="courses-content">
                    <div class="course-author d-flex align-items-center">
                        <img [src]="course?.user_instructor?.account?.image" imgPersonError class="rounded-circle mr-2" alt="image">
                        <span>
                            <p class="title">Docente</p>
                            <span><a [routerLink]="['/docentes', course?.user_instructor?.slug]" >{{ course?.user_instructor?.name }}</a></span>
                        </span>
                    </div>
                    <h3><a [routerLink]="['/cursos/curso', course.slug]" class="d-inline-block">{{ course.title }}</a></h3>
                    <!-- <div class="courses-rating">
                        <div class="review-stars-rated">
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                        </div>
                        <div class="rating-total">
                            5.0 (1 rating)
                        </div>
                    </div> -->
                    <div [innerHtml]="(course.description | slice : 0:80) + '...'"></div>
                </div>

                <div class="courses-box-footer">
                    <ul>
                        <li class="details">
                            <span><i class='bx bx-user'></i>cupos disponibles</span>
                            <span> {{ course?.cupos_manual }} </span>
                        </li>
                        <!-- <li class="details disponibles">
                            <span><i class='bx bx-user'></i>disponibles</span>
                            <span> 2 </span>
                        </li> -->
                        <li class="details">
                            <span><i class='bx bx-calendar-exclamation'></i>duración</span>
                            <span>{{ course?.duracion_manual}} {{ course?.uni_duracion_manual }}</span>
                        </li>
                        <li class="details">
                            <span><i class='bx bx-book-open'></i> clases</span>
                            <span>{{ course?.clases_manual }}</span>
                        </li>

                        <li class="add-to-card">
                        </li>
                        <li *ngIf="!course.discount_uno || !+course.discount_uno" class="courses-price">
                            {{ course.currency.symbol }} {{ course.price | number }}
                        </li>

                        <li class="courses-price" *ngIf="+course.discount_uno ">
                            <p class="">
                                <span class="old-price">{{ course.currency.symbol }} {{ course.price | number:'1.0-0' }}</span>

                                <span class="discount"> {{ course.discount_uno }}% OFF</span>
                            </p>
                            {{ course.currency.symbol }} {{ (+course.price - +course.price * +course.discount_uno / 100 )| number:'1.0-0'}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
