<app-header></app-header>

<section class="checkout-area ptb-100">
    <div class="container">
        <!-- <div class="user-actions">
            <i class='bx bx-log-in'></i>
            <span>Returning customer? <a routerLink="/login">Click here to login</a></span>
        </div> -->

        
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="billing-details">
                        <h3 class="title">Datos para el pago de la inscripción </h3>

                        <app-payment-form  *ngIf="user|async as user else loading" [user]="user" (changes)="formChange($event)"> </app-payment-form>
                        
                    </div>
                </div>

                <div class="col-lg-6 col-md-12">
                    <div class="order-details">
                        <h3 class="title">Cursos o Lecciones</h3>

                        <div class="order-table table-responsive">
                            <app-cart></app-cart>
                        </div>
                        <div class="offset-6 col-lg-6 col-md-6 payment-box" >
                            <div class="row">
                                <button (click)="onSubmitOrder()" [disabled]="!formValid" class="default-btn">
                                    <i class='bx bx-paper-plane icon-arrow before'></i>
                                    <span class="label">Confirmar Inscripción</span>
                                    <i class="bx bx-paper-plane icon-arrow after"></i>
                                </button>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
    </div>
</section>

<ng-template #loading>
    <div class="div-content">
        <div class="loading">
            <div></div>
            <div></div>
            <div></div>
        </div>

    </div>
</ng-template>