<ul class="navbar-nav">

    <li class="nav-item">
        <a routerLink="/cursos" class="nav-link">Cursos</a>
    </li>
    <!-- <li class="nav-item">
        <a routerLink="/comunidad" class="nav-link">Comunidad</a>
    </li> -->
    <!-- <li class="nav-item">
        <a routerLink="/aprendo-en-casa" class="nav-link">Aprendo en casa</a>
    </li> -->
    <li class="nav-item">
        <a routerLink="/docentes" class="nav-link">Docentes</a>
    </li>
    <li class="nav-item">
        <a routerLink="/contacto" class="nav-link">Contacto</a>
    </li>
</ul>
