<section class="about-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-image">
                    <img src="assets/img/about/13061.jpg" class="shadow" alt="image">
                    <img src="assets/img/about/large.png" class="shadow" alt="image">
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <span class="sub-title">Te Ofrecemos</span>
                    <h2>Aprenda nuevas habilidades para seguir adelante con su carrera</h2>
                    <h6>Te apoyaremos con nuestro staff de educadores y nuestras instalaciones.</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut nisi ut aliquip ex ea commodo consequat.</p>
                    <div class="features-text">
                        <h5><i class='bx bx-planet'></i>Un lugar donde puedes llevar al máximo tu potencial</h5>
                        <p>La educación abarca tanto la enseñanza como el aprendizaje del conocimiento, la conducta adecuada y la competencia técnica.</p>
                    </div>
                    <a routerLink="/cursos" class="default-btn"><i class='bx bx-move-horizontal icon-arrow before'></i><span class="label">Empieza Ahora</span><i class="bx bx-move-horizontal icon-arrow after"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>