<section class="about-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-image">
                    <img src="assets/img/about/13061.jpg" class="shadow" alt="image">
                    <img src="assets/img/about/large.png" class="shadow" alt="image">
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <!-- <span class="sub-title">Te Ofrecemos</span> -->
                    <h2>"Nuestra misión es la educación, cambiar vidas nuestra pasión"</h2>
                    <h6>Te apoyaremos con nuestro staff de educadores y nuestras instalaciones están a tú disposición.</h6>
                    <p>Ofrecemos a los alumnos la oportunidad de transformar su realidad y la de sus familias. Queremos formar a los emprendedores del mañana</p>
                    <div class="features-text">
                        <h5><i class='bx bx-planet'></i>Un lugar donde puedes llevar al máximo tu potencial</h5>
                        <p>La educación abarca tanto la enseñanza como el aprendizaje del conocimiento, la conducta adecuada y la competencia técnica.</p>
                    </div>
                    <a routerLink="/cursos" class="default-btn"><i class='bx bx-move-horizontal icon-arrow before'></i><span class="label">Empieza Ahora</span><i class="bx bx-move-horizontal icon-arrow after"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>