.courses-image{
    height: 50%;
    a img{

        width: 100%;
        height: calc(100vw / 5);
        object-fit: cover;
        object-position: center;
    }
}
.courses-price {
    font: {
        size: 14px!important;
        weight: 500;
    };
}
