<div class="single-courses-box mb-30" >
    <div class="courses-image">
        <a [routerLink]="['/cursos/curso', course.slug ]" class="d-block">
            <img  [src]="course?.images[0]?.url_medium" alt="image" >
        </a>

        <div class="courses-tag" *ngFor="let category of course.categories"
        [ngStyle]="{'background-color': category.color, 'color': '#fff'}"

        >
            <a style="color: #ffffff;" [routerLink]="['/cursos', category.slug ]" class="d-block">{{ category.name }}</a>
        </div>
    </div>

    <div class="courses-content">
        <div class="course-author d-flex align-items-center">
            <img [src]="course?.user_instructor?.account?.image" imgPersonError class="rounded-circle mr-2" alt="image">
            <span><a [routerLink]="['/docentes', course?.user_instructor?.slug]" >{{ course?.user_instructor?.name }}</a></span>
        </div>

        <h3><a [routerLink]="['/cursos/curso', course.slug ]" class="d-inline-block">{{ course.title }}</a></h3>

        <!-- <div class="courses-rating">
            <div class="review-stars-rated">
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
            </div>

            <div class="rating-total">
                5.0 (1 rating)
            </div>
        </div> -->
    </div>

    <div class="courses-box-footer">
        <ul>
            <li class="students-number">
                <i class='bx bx-user'></i> {{ course?.cupos_manual }} cupos disponibles
            </li>

            <li class="courses-lesson">
                <i class='bx bx-book-open'></i>{{ course?.clases_manual }} clases
            </li>

            <li *ngIf="!course.discount_uno || !+course.discount_uno" class="courses-price">
                {{ course.currency.symbol }} {{ course.price | number }}
            </li>

            <li class="courses-price" *ngIf="+course.discount_uno ">
                <p class="">
                    <span class="old-price">{{ course.currency.symbol }} {{ course.price | number:'1.0-0' }}</span>

                    <span class="discount"> {{ course.discount_uno }}% OFF</span>
                </p>
                {{ course.currency.symbol }} {{ (+course.price - +course.price * +course.discount_uno / 100 )| number:'1.0-0'}}
            </li>
        </ul>
    </div>
</div>
