
.courses-area{
    margin-top: 150px;
    min-height: 100vh;
}
.activate-router{
    color: var(--mainColor)!important;
}
.skeleton-course{


}

@media only screen and (min-width: 576px) and (max-width: 767px) {

}
@media only screen and (min-width: 768px) and (max-width: 991px) {

}
@media only screen and (min-width: 992px) and (max-width: 1199px) {

}
@media only screen and (min-width: 1200px) and (max-width: 1275px) {

}



.content-skeleton{
    margin-right: 1rem;
    margin-left: 1rem;
    .skeleton-course {
        background-color: var(--whiteColor);
        box-shadow: 0px 8px 16px 0px rgba(146, 184, 255, 0.3);
        border-radius: 10px;
        transition: var(--transition);
        height: 350px;
        padding: 0;
        width: calc(100% - 2rem);
        margin-bottom: 2rem;
        box-sizing: border-box;

        .box-item{
            display: flex;
            flex-wrap: wrap;
            border-radius: 10px;
            height: 350px;
            background-color: #ffffff;
            border-radius: 10px 10px 10px 10px;
            background-image: linear-gradient( 100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 80% ),linear-gradient( #fafafa 20px, transparent 0 ),linear-gradient( #fafafa 38px, transparent 0 ),linear-gradient( #fafafa 38px, transparent 0 ),linear-gradient( #fafafa 38px, transparent 0 ),linear-gradient( #fafafa 14px, transparent 0 ),linear-gradient( #fafafa 14px, transparent 0 ),linear-gradient( #fafafa 20px, transparent 0 ),linear-gradient( #fafafa 20px, transparent 0 ),linear-gradient( #fafafa 6px, transparent 0 ),linear-gradient( #fafafa 14px, transparent 0 ),radial-gradient( circle 18.5px at 18.5px 18.5px, #fafafa 17.5px, transparent 18.5px ),linear-gradient( #fafafa 350px, transparent 0 );
            background-repeat: repeat-y;
            background-size: 50px 350px,12% 350px,10% 350px,10% 350px,10% 350px,42% 350px,50% 350px,350px 350px,45% 350px,59px 350px,251px 350px,37px 350px,45% 350px;
            background-position: 0 0,600px 300px,546px 247px,431px 247px,345px 247px,345px 181px,345px 160px,345px 112px,345px 85px,391px 35px,391px 45px,345px 29px,0px 0px;
            animation: shineForSkeleton-19u1y93xgby 3s infinite;

        }
    }
}
@keyframes shineForSkeleton-19u1y93xgby {
    to {
        background-position: 100% 0,600px 300px,546px 247px,431px 247px,345px 247px,345px 181px,345px 160px,345px 112px,345px 85px,391px 35px,391px 45px,345px 29px,0px 0px;
    }
}



