.instructor-area{
    margin-top: 100px;
    position: relative;
    display: block;
    min-height: 200%;
    height: auto;
}

// .col-lg-4 {
//     &:nth-child(2), &:nth-child(8) {
//         .single-instructor-box {
//             .image {
//                 border-color: #ffe5be;

//                 .social {
//                     li {
//                         a {
//                             &:hover {
//                                 color: var(--whiteColor);
//                                 background-color: #fea116;
//                             }
//                         }
//                     }
//                 }
//             }
//             .content {
//                 span {
//                     color: #fea116;
//                 }
//             }
//             &:hover {
//                 .image {
//                     border-color: #fea116;
//                 }
//             }
//         }
//     }
//     &:nth-child(3), &:nth-child(5) {
//         .single-instructor-box {
//             .image {
//                 border-color: #b2f3df;

//                 .social {
//                     li {
//                         a {
//                             &:hover {
//                                 color: var(--whiteColor);
//                                 background-color: var(--optionalColor);
//                             }
//                         }
//                     }
//                 }
//             }
//             .content {
//                 span {
//                     color: var(--optionalColor);
//                 }
//             }
//             &:hover {
//                 .image {
//                     border-color: var(--optionalColor);
//                 }
//             }
//         }
//     }
// }

.single-instructor-box {
    text-align: center;

    .image {
        border: 4px solid var(--mainColor);
        padding: 10px;
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        max-height: 330px;
        transition: var(--transition);
        &:hover{
            border-color: var(--mainColor)!important;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
        .social {
            padding-left: 0;
            list-style-type: none;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 15px;
            margin: {
                left: auto;
                right: auto;
                bottom: 0;
            };
            li {
                display: inline-block;
                transform: translateY(30px);
                transition: all 0.3s ease-in-out 0s;
                opacity: 0;
                visibility: hidden;
                margin: {
                    left: 3px;
                    right: 3px;
                };
                a {
                    display: block;
                    width: 33px;
                    height: 33px;
                    background-color: #f4f5fe;
                    text-align: center;
                    position: relative;
                    font-size: 20px;
                    color: var(--blackColor);
                    border-radius: 2px;
                    transition: var(--transition);

                    i {
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        margin: {
                            left: auto;
                            right: auto;
                        };
                    }
                    &:hover {
                        color: var(--whiteColor);
                        background-color: var(--mainColor);
                    }
                }
                &:nth-child(1) {
                    transition-delay: 0.1s;
                }
                &:nth-child(2) {
                    transition-delay: 0.2s;
                }
                &:nth-child(3) {
                    transition-delay: 0.3s;
                }
                &:nth-child(4) {
                    transition-delay: 0.4s;
                }
            }
        }

    }
    .content {
        margin-top: 25px;

        h3 {
            margin-bottom: 0;
            font: {
                size: 20px;
                weight: 600;
            };
            a {
                display: inline-block;
            }
        }
        span {
            display: block;
            color: var(--mainColor);
            font-size: 14px;
            margin-top: 6px;
        }
    }
    &:hover {
        .image {
            border-color: var(--mainColor);

            .social {
                li {
                    transform: translateY(0);
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}


@media only screen and (max-width: 990px) {
    .instructor-area{
        margin-top: 150px;
    }
}
@media only screen and (max-width: 767px) {
    .instructor-area{
        margin-top: 200px;
    }
    .single-instructor-box {
        .content {
            margin-top: 20px;

            h3 {
                font-size: 18px;
            }
            span {
                font-size: 13.5px;
            }
        }
    }

}
