<app-header></app-header>

<section class="cart-area ptb-100">
    <div class="container">
        <!-- <form> -->
            <app-cart></app-cart>

            <div class="cart-buttons">
                <div class="row align-items-center">
                    <div class="col-lg-7 col-sm-7 col-md-7">
                        <div class="shopping-coupon-code">
                            <input type="text" class="form-control" placeholder="Coupon code" name="coupon-code" id="coupon-code">
                            <button type="submit">Apply Coupon</button>
                        </div>
                    </div>

                    <div class="col-lg-5 col-sm-5 col-md-5 text-right">
                        <a routerLink="/cart" class="default-btn"><i class='bx bx-cart icon-arrow before'></i><span class="label">Update Cart</span><i class="bx bx-cart icon-arrow after"></i></a>
                    </div>
                </div>
            </div>

            <div class="cart-totals">
                <h3>Cart Totals</h3>
                <ul>
                    <li>Subtotal <span>$1683.50</span></li>
                    <li>Shipping <span>$30.00</span></li>
                    <li>Total <span>$1713.50</span></li>
                </ul>
                <a routerLink="/checkout" class="default-btn"><i class='bx bx-shopping-bag icon-arrow before'></i><span class="label">Proceed to Checkout</span><i class="bx bx-shopping-bag icon-arrow after"></i></a>
            </div>
        <!-- </form> -->
    </div>
</section>