<div class="hero-banner">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="hero-banner-content">
                            <span class="sub-title">Cursos</span>
                            <h1>Cursos de oficios prácticos</h1>
                            <p>Nuestros cursos de oficios son de amplia salida laboral.</p>
                            <div class="btn-box">
                                <a routerLink="/cursos" class="default-btn"><i class='bx bx-move-horizontal icon-arrow before'></i><span class="label">Ver Cursos</span><i class="bx bx-move-horizontal icon-arrow after"></i></a>
                                <a routerLink="/contacto" class="optional-btn">Contactanos</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="hero-banner-image text-center">
                            <img src="assets/img/4464.jpg" alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>