<div class="hero-banner">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="hero-banner-content">
                            <span class="sub-title"></span>
                            <h1>Cursos y Oficios</h1>
                            <p>Estudiar lo que te apasiona ahora es posible!</p>
                            <div class="btn-box">
                                <a routerLink="/cursos" class="default-btn"><i
                                        class='bx bx-move-horizontal icon-arrow before'></i><span class="label">Ver
                                        Cursos</span><i class="bx bx-move-horizontal icon-arrow after"></i></a>
                                <!-- <a routerLink="/contact" class="optional-btn">Get Started Free</a> -->
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="hero-banner-image text-center">
                            <swiper  [config]="config" class="swiper-container">
                                <img *ngFor="let image of imagesBanner | async" [src]="image.url" [alt]="image.url">
                            </swiper>
                        </div>
                    </div>
                    <div id="particles-js-circle-bubble-2"></div>
                </div>
            </div>
        </div>
    </div>
</div>
