
.user{
    // button{
    //     margin: 1rem 0.2rem ;
    //     font-weight: 300;
    //     border-radius: 50px;
    //     font-size: 0.8em;
    //     line-height: 2em;
    // }
    // max-width: 300px;

    width: 100%;
    float: right ;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: right;
    margin-right: 1rem;

    a,span{
        font-size: 10pt!important;
        
    }
    a{
        cursor: pointer;
    }
    .account{
        align-items: center;
        justify-items: center;
    }
    .menu-user{
        display: grid;
        grid-template-columns: 2fr 1fr;
        align-items: center;
        justify-items: center;
        border-radius: 5px;

        // background-color: rgba(0, 0, 0, 0.06);
        padding: 0.5rem;
        a{
            color: #424242;
            padding: 0.4rem 1rem;
            
            font-weight: 300;
            &:hover{
                
                color:#424242
            }
        }
    }
    span{
        .register{
            border-radius: 50px;
            font-size: 1em;
            font-weight: 300;
            line-height: 2em;
            margin-left: 3px;
        }
        .login{
            background-color: rgba(0, 0, 0, 0.06);
            border-radius: 50px;
            font-size: 1em;
            font-weight: 300;
            line-height: 2em;
        }
    }
}
.color{
    color: white;
    font-weight: 300;
}