// @import "../home-page-one/homeone-courses/homeone-courses.component.scss";

.instructor-details-area {
    padding-top: 200px!important;
    min-height: 100vh;

    .section-title {
        margin-bottom: 40px;
    }
}
.instructor-details-desc {
    margin-bottom: 60px;

    .instructor-details-sidebar {
        text-align: center;
        img{
            width: 100%;
            max-width: 380px;
            height: 100%;
            max-height: 380px;
            object-fit: cover;
            object-position: center;
        }
        .instructor-details-meta {
            margin: {
                bottom: 20px;
                top: 30px;
            };
            ul {
                padding-left: 0;
                margin-bottom: 0;
                list-style-type: none;

                li {
                    position: relative;
                    text-align: left;
                    display: inline-block;
                    font: {
                        weight: 500;
                        size: 16px;
                    };
                    padding: {
                        left: 37px;
                    };
                    margin: {
                        left: 8px;
                        right: 8px;
                    };
                    i {
                        font-size: 25px;
                        color: #cfcfcf;
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                    span {
                        display: block;
                        color: var(--mainColor);
                        text-transform: uppercase;
                        margin-bottom: 1px;
                        font: {
                            size: 14px;
                            weight: 600;
                        };
                    }
                    a {
                        display: inline-block;
                        color: var(--blackColor);

                        &:hover, &:focus {
                            color: var(--mainColor);
                        }
                    }
                    &:last-child {
                        padding-right: 0;
                        margin-right: 0;
                        border-right: none;
                    }
                }
            }
        }
        .default-btn {
            border-radius: 30px;
        }
        .social-link {
            padding-left: 0;
            list-style-type: none;
            margin: {
                top: 25px;
                bottom: 0;
            };
            li {
                display: inline-block;
                margin: {
                    left: 3px;
                    right: 3px;
                };
                a {
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    color: var(--whiteColor);
                    font-size: 17px;
                    position: relative;
                    background-color: var(--mainColor);
                    border: 1px solid var(--mainColor);
                    border-radius: 50%;

                    i {
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 48%;
                        transform: translateY(-48%);
                    }
                    &:hover, &:focus {
                        background-color: transparent;
                        color: var(--mainColor);
                        border-color: var(--mainColor);
                    }
                    &.facebook {
                        background-color: #3b5998;
                        border-color: #3b5998;
                        color: var(--whiteColor);

                        &:hover, &:focus {
                            color: #3b5998;
                            background-color: transparent;
                        }
                    }
                    &.twitter {
                        background-color: #1da1f2;
                        border-color: #1da1f2;
                        color: var(--whiteColor);

                        &:hover, &:focus {
                            color: #1da1f2;
                            background-color: transparent;
                        }
                    }
                    &.linkedin {
                        background-color: #007bb5;
                        border-color: #007bb5;
                        color: var(--whiteColor);

                        &:hover, &:focus {
                            color: #007bb5;
                            background-color: transparent;
                        }
                    }
                    &.instagram {
                        background-color: #c13584;
                        border-color: #c13584;
                        color: var(--whiteColor);

                        &:hover, &:focus {
                            color: #c13584;
                            background-color: transparent;
                        }
                    }
                    &.pinterest {
                        background-color: #bd081c;
                        border-color: #bd081c;
                        color: var(--whiteColor);

                        &:hover, &:focus {
                            color: #bd081c;
                            background-color: transparent;
                        }
                    }
                }
            }
        }
    }
    .instructor-details {
        h3 {
            margin-bottom: 10px;
            font: {
                size: 25px;
                weight: 700;
            };
        }
        .sub-title {
            color: var(--mainColor);
            display: block;
            margin-bottom: 15px;
            font: {
                size: 16px;
                weight: 500;
            };
        }
        .instructor-details-info {
            margin-top: 25px;

            h3 {
                font-size: 20px;
                margin-bottom: 20px;
            }
            ul {
                padding-left: 0;
                margin-bottom: 0;
                list-style-type: none;

                li {
                    position: relative;
                    text-align: left;
                    display: block;
                    font: {
                        weight: 500;
                        size: 16px;
                    };
                    padding: {
                        left: 37px;
                    };
                    margin: {
                        bottom: 15px;
                    };
                    &:last-child {
                        margin-bottom: 0;
                    }
                    i {
                        font-size: 25px;
                        color: #cfcfcf;
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                    span {
                        display: block;
                        color: var(--mainColor);
                        text-transform: uppercase;
                        margin-bottom: 1px;
                        font: {
                            size: 14px;
                            weight: 600;
                        };
                    }
                    &:last-child {
                        padding-right: 0;
                        margin-right: 0;
                        border-right: none;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {

    .instructor-details-area {
        .section-title {
            margin-bottom: 30px;

            h2 {
                font-size: 21px;
            }
        }
    }
    .instructor-details-desc {
        margin-bottom: 40px;

        .instructor-details-sidebar {
            margin-bottom: 30px;
        }
        .instructor-details {
            text-align: center;

            h3 {
                margin-bottom: 8px;
                font-size: 20px;
            }
            .sub-title {
                font-size: 14px;
            }
            .instructor-details-info {
                .row {
                    .col-lg-6 {
                        &:nth-child(2) {
                            margin-top: 25px;
                        }
                    }
                }
                h3 {
                    font-size: 18px;
                }
                ul {
                    li {
                        font-size: 14px;

                        span {
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }

}
@media only screen and (min-width: 576px) and (max-width: 767px) {

}
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .instructor-details-desc {
        .instructor-details-sidebar {
            .instructor-details-meta {
                ul {
                    li {
                        padding-left: 0;

                        i {
                            display: none;
                        }
                    }
                }
            }
        }
        .instructor-details {
            .instructor-details-info {
                .row {
                    .col-lg-6 {
                        &:nth-child(1) {
                            margin-bottom: 25px;
                        }
                    }
                }
            }
        }
    }

}
@media only screen and (min-width: 992px) and (max-width: 1199px) {

}
@media only screen and (min-width: 1200px) and (max-width: 1275px) {

}
