<form [formGroup]="form">
<ng-container *ngFor="let field of fields">

    <ng-container *ngIf="field.type === 'text' || field.type === 'time'">

        <mat-form-field [class]="field.class" appearance="outline">
            <mat-label>{{ field.label }}</mat-label>
            <input *ngIf="field.nameControl != 'email'" [formControlName]="field.nameControl" matInput [placeholder]="field.label" [type]="field.type" autocomplete="off" >
            <input *ngIf="field.nameControl == 'email'" [formControlName]="field.nameControl" matInput [placeholder]="field.label" [type]="field.type" autocomplete="off" readonly >
        </mat-form-field>

    </ng-container>
  
    <ng-container *ngIf="field.type === 'select'">
        <mat-form-field [class]="field.class" appearance="outline">
            <mat-label>{{ field.label }}</mat-label>
            <mat-select placeholder="Seleccione Ciudad..." [formControlName]="field.nameControl">
                <mat-option *ngFor="let opt of field.options"
                    [value]="opt.value">
                    {{opt.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </ng-container>


    <ng-container *ngIf="field.type === 'date'">

        <mat-form-field [class]="field.class" appearance="outline">
            <mat-label>{{ field.label }}</mat-label>
            <input 
                [formControlName]="field.nameControl" 
                matInput 
                [placeholder]="field.label" 
                [matDatepicker]="picker" 
                autocomplete="off" 
                (click)="picker.open()">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker startView="year"></mat-datepicker>
        </mat-form-field>

    </ng-container>

    <ng-container  *ngIf="field.type === 'textarea'">

        <mat-form-field [class]="field.class"  appearance="outline">
            <mat-label>{{ field.label }}</mat-label>
            <textarea style="min-height: 100px" [formControlName]="field.nameControl"  matInput  [placeholder]="field.label"></textarea>
        </mat-form-field>

    </ng-container>

    <ng-container  *ngIf="field.type === 'number'">

        <mat-form-field [class]="field.class" appearance="outline">
            <mat-label>{{ field.label }}</mat-label>
            <input type="number" [formControlName]="field.nameControl" matInput [placeholder]="field.label" autocomplete="off" >
        </mat-form-field>

    </ng-container>

    <!-- <ng-container  *ngIf="field.type === 'color'">
        <div class="content-color">
            <mat-form-field class="" appearance="outline">
                <mat-label>{{ field.label }}</mat-label>
                <input matInput [(colorPicker)]="colorPreview" (colorPickerChange)="chanhgeColor()"  [formControlName]="field.nameControl" [placeholder]="field.label" autocomplete="off">
            </mat-form-field>
            <mat-icon [(colorPicker)]="colorPreview" (colorPickerChange)="chanhgeColor()" [ngStyle]="{'color': colorPreview}" class="material-icons-round">web</mat-icon>
            
        </div>
    </ng-container> -->


    <!-- <ng-container  *ngIf="field.type === 'select_ico'">
        <div class="content-select-ico">
            <button mat-flat-button class="btn-select-ico" [ngStyle]="{'background-color': colorPreview}"color="primary" (click)="selectIco()">
                <mat-icon class="material-icons-round">{{ field.value }}</mat-icon>
                Seleccionar Icono 
            </button>
        </div>
    </ng-container> -->
    
    <ng-container *ngIf="field.type === 'image'">
        <div class="content-image" [class]="field.class" >
            <div class="upload">
                <label for="file">
                    <div class="image-input">
                        <img [src]="imgPreview" *ngIf="imgPreview" alt="Subir Imagen">
                        <img [src]="'../../../assets/img/no-image.svg'" *ngIf="!imgPreview" alt="Subir Imagen">
                    </div>
                </label>
                <input id="file" hidden type="file" (change)="uploadImage($event)">
                <span style="color:red;" *ngIf="messageUpload">{{messageUpload}}</span>
            </div>
        </div>
    </ng-container>
</ng-container>


<div class="btn-actions">
    <span></span>
    <span></span>
    <!-- <button mat-flat-button class="btn-secondary">Guardar y Crear Nuevo</button> -->
    <!-- <button mat-flat-button class="" type="submit" (click)="changeForm(form.value)" color="primary" >Guardar</button> -->

</div>

</form>