form{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    align-items: flex-start;
    justify-content: center;
    padding: 1rem!important;
    .btn-actions{
        grid-column: 1/-1;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        button{
            margin-left: auto;
            margin-right: auto;
            // padding: 10px 50px;
        }
    }
    .content-color{
        display: grid;
        grid-template-columns: auto 50px;
        column-gap: 3px;
        cursor: pointer;
        input{
            cursor: pointer; 
        }
        .mat-icon{
            width: 50px!important;
            height: 50px!important;
            font-size: 50px!important;
            // border-radius: 10px;
            margin-top: 4px;
            color: black;
        }
    }
    .content-select-ico{
        height: 50px;
        display: grid;
        align-content: center;
        .btn-select-ico{
            border-radius: 10px!important;
            margin-top: 5px!important;
            height: 50px!important;
            .mat-icon{
                font-size: 30px;
                width: 30px;
                height: 30px;
            }
        }
    }


    .content-image{
        display: grid;
        grid-template-columns: 1fr;
        grid-row: 1/3;
        grid-column: 1/2;
        align-items: center;
        gap: 1rem;
    
        border-radius: 10px;
        background-color: var(--background-gral);
        padding: 1rem;

    }
    .image-input img{
        object-position: center;
        border-radius: 5px;
        object-fit: cover;
        cursor: pointer!important;
        width: 100%;
    
    }

}

////COLUMNAS
.mvd-col1--1{
    grid-column: 1 / -1;
}
.mvd-col2--1{
    grid-column: 2 / -1;
}
.mvd-col3--1{
    grid-column: 3 / -1;
}
.mvd-col4--1{
    grid-column: 4 / -1;
}
.mvd-col5--1{
    grid-column: 5 / -1;
}
.mvd-col6--1{
    grid-column: 6 / -1;
}
.mvd-col1-2{
    grid-column: 1 / 2;
}
.mvd-col1-3{
    grid-column: 1 / 3;
}
.mvd-col1-4{
    grid-column: 1 / 4;
}
.mvd-col1-5{
    grid-column: 1 / 5;
}
.mvd-col2-4{
    grid-column: 2 / 4;
}
.mvd-col2-6{
    grid-column: 2 / 6;
}
.mvd-col3-5{
    grid-column: 3 / 5;
}
.mvd-col4-5{
    grid-column: 4 / 5;
}
.mvd-col4-6{
    grid-column: 4 / 6;
}
  ///////////
