<div class="row">
    <div class="col-lg-3 col-md-3 col-6">
        <div class="single-funfact">
            <div class="icon">
                <i class='bx bxs-group'></i>
            </div>
            <h3  class="odometer">
                <span>{{ totalInstructors|async }}</span>
            </h3>
            <!-- <h3  [attr.data-count]="'10'">00</h3> -->
            <p>Docentes</p>
        </div>
    </div>

    <div class="col-lg-3 col-md-3 col-6">
        <div class="single-funfact">
            <div class="icon">
                <i class='bx bx-book-reader'></i>
            </div>
            <h3 class="odometer">
                <span>{{ totalCourses|async }}</span>
            </h3>
            <p>Cursos</p>
        </div>
    </div>

    <div class="col-lg-3 col-md-3 col-6">
        <div class="single-funfact">
            <div class="icon">
                <i class='bx bx-user-pin'></i>
            </div>
            <h3 class="odometer" data-count="854">00</h3>
            <p>Estudiantes Inscriptos</p>
        </div>
    </div>

    <div class="col-lg-3 col-md-3 col-6">
        <div class="single-funfact">
            <div class="icon">
                <i class='bx bxl-deviantart'></i>
            </div>
            <h3 class="odometer" data-count="5000">00</h3>
            <p>Egresados</p>
        </div>
    </div>
</div>
