<app-header></app-header>

<!-- <div class="page-title-area item-bg2 jarallax" data-jarallax='{"speed": 0.3}'>
    <div class="container">
        <div class="page-title-content">
            
                <li><a href="index.html">Home</a></li>
                <li>Contact</li>
            </ul>
            <h2>Contact Us</h2>
        </div>
    </div>
</div> -->

<section class="contact-info-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="contact-info-box mb-30">
                    <div class="icon">
                        <i class='bx bx-envelope'></i>
                    </div>
                    <h3>Nuestro E-mail</h3>
                    <p><a href="mailto:hello@ednuv.com">cursos@oncapacitaciones.com</a></p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="contact-info-box mb-30">
                    <div class="icon">
                        <i class='bx bx-map'></i>
                    </div>
                    <h3>Nuestra Ubicación</h3>
                    <p><a href="https://goo.gl/maps/x24Tn2RHBUe5dg2U9" target="_blank">Av. Giannattasio Km 18.200 M.G
                            S.102 entre Siena y Padua</a></p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-md-3 offset-sm-3">
                <div class="contact-info-box mb-30">
                    <div class="icon">
                        <i class='bx bx-phone-call'></i>
                    </div>
                    <h3>Llamanos</h3>
                    <p><a href="tel:+59826818368">(+598) 2681 8368</a></p>
                </div>
            </div>
        </div>
    </div>

    <div id="particles-js-circle-bubble-2"></div>
</section>
<section class="contact-area pb-100">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Mensaje</span>
            <h2>Envíenos un mensaje para cualquier consulta</h2>
            <p>Nos comunicaremos lo antes posible con una respuesta para tu consulta</p>
        </div>

        <div class="contact-form">
            <form [formGroup]="formContact" id="contactForm">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                            <input formControlName="name" type="text" id="name" class="form-control"
                                placeholder="Tu nombre">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                            <input formControlName="email" type="email" id="email" class="form-control"
                                placeholder="Tu Email">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                            <input formControlName="phone" type="text" id="phone_number" class="form-control"
                                placeholder="Tu Celular">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                            <input formControlName="subject" type="text" id="msg_subject" class="form-control"
                                placeholder="El tema de tu consulta">
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <textarea formControlName="message" class="form-control" id="message" cols="30" rows="5"
                                placeholder="Tu mensaje"></textarea>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <button type="submit" class="default-btn"><i
                                class='bx bx-paper-plane icon-arrow before'></i><span class="label">Enviar</span><i
                                class="bx bx-paper-plane icon-arrow after"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="particles-js-circle-bubble-3"></div>
    <div class="contact-bg-image"><img src="assets/img/map.png" alt="image"></div>
</section>
<section class="bus-info-area">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Información</span>
            <h2>Es muy simple llegar desde donde estés.</h2>
            <p>Información de líneas de ómnibus que te puede interesar para llegar fácilmente a nuestro instituto.</p>

            <h5>COPSA:</h5>
            <p>714 - 711 - 710 - 709</p>
            <h5>RAINCOOP:</h5>
            <p>222 - 221</p>
            <h5>CUTCSA:</h5>
            <p>214 - C4 - C2</p>

            <p>No tomar ómnibus que digan INTERBALNEARIA</p>
        </div>
    </div>
</section>

<div id="map">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1637.0057634719244!2d-56.01174569941546!3d-34.85593768954536!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzTCsDUxJzIxLjQiUyA1NsKwMDAnMzkuOSJX!5e0!3m2!1ses!2suy!4v1597675121736!5m2!1ses!2suy"
        width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
        tabindex="0"></iframe>
</div>